<main class="m-2">
    <div class="row">
        <div class="display-6 mb-4">Список сторінок</div>
        <p class="text-muted mb-5">Мій проєкт призначений для інтернет магазину</p>
        <div class="mb-3">
            <a href="shophome" class="btn btn-primary">Домашня сторінка</a>
            <a href="shopcatalog" class="btn btn-primary">Каталог товарів</a>
            <a href="shopcart" class="btn btn-primary">Кошик товарів</a>
            <a href="shopprofile" class="btn btn-primary">Профіль покупця</a>
            <a href="shoporder" class="btn btn-primary">Оформлення замовлення</a>
            <a href="shopreview" class="btn btn-primary">Відгуки</a>
        </div>
        <div class="mb-3">
            <hr>
        </div>
        <div>
            <a href="summary" class="btn btn-warning">Summary</a>
            <a href="skills" class="btn btn-warning">Skills</a>
            <a href="education" class="btn btn-warning">Education</a>
            <a href="work" class="btn btn-warning">Work</a>
        </div>
        <div class="mb-3">
            <hr>
        </div>
        <div>
            <a href="bio" class="btn btn-info">Albert Einstein</a>
            <a href="person" class="btn btn-info">Emma Johnson</a>
            <a href="program" class="btn btn-info">Excursion</a>
            <a href="web" class="btn btn-info">Languages</a>
            <a href="car" class="btn btn-info">Car</a>
        </div>
        <div class="mb-3">
            <hr>
        </div>
        <div>
            <a href="facebook" class="btn btn-outline-primary">Facebook</a>
            <a href="js" class="btn btn-outline-primary">JS</a>
            <a href="mac" class="btn btn-outline-primary">Mac</a>
        </div>
        <div class="mb-3">
            <hr>
        </div>
        <div>
            <a href="task21" class="btn btn-outline-warning">Task_21</a>
            <a href="task22" class="btn btn-outline-warning">Task_22</a>
            <a href="task31" class="btn btn-outline-warning">Task_31</a>
        </div>
    </div>
</main>